<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
]>
<root id="-1">
  <home id="1066" key="2b6d07d0-a5ce-4b82-8a33-7145a799fd7b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-30T22:02:41" updateDate="2018-06-04T20:25:38" nodeName="Home" urlName="home" path="-1,1066" isDoc="" nodeType="1064" creatorName="Kasper Johnsen" writerName="Kasper Johnsen" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <image><![CDATA[umb://media/1697f5d43dc44ecfa71e39b54f95a2a9]]></image>
    <aboutText><![CDATA[<p>This is the section where you write about your resturant</p>]]></aboutText>
    <test>1</test>
  </home>
</root>